.ParentDiv {
  display: flex;
  justify-content: space-between;
  width: 91.666667%;
  margin: auto;
  align-items: center;
  padding: 10px;
}
.slec {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ParentDiv ul {
  list-style: none;
  display: flex;
}
.ParentDiv ul li {
  margin-right: 2rem;
}
h1 {
  font-size: 1.5rem;
}
.burger:hover {
  cursor: pointer;
  opacity: 0.5;
}
.ParentDiv ul li a {
  text-decoration: none;
  color: black;
}
